<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <head>
        <title>About Me</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light bg-light">
            <a href="about.html">About</a>
            <a href="index.html">Home</a>
        </nav>
        <h1>Ronaldo Keng</h1>
        Hello World! My name is Ronaldo, I'm a budding programmer exploring new horizons!
    </body>
</html>
