<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">

    <head>
        <title>About Me</title>
    </head>
    <body>
        <div id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="navbar-brand" href="index.html">
                                <img src="../assets/portrait.png" width="30" height="30" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="about.html">About Me<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tedx.html">TEDx<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="trekzi.html">Trekzi<span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="intro">
            <h1>This is Ronaldo.</h1>
            <h3>
                Introduction
            </h3>
            <p>
                My name is Ronaldo. I am a Year 11 student at Reddam House in Sydney, Australia.
                I am a newbie programmer exploring web development and hoping to build an interest project, Trekzi!
            </p>
            <h3>
                Where am I from?
            </h3>
            <p>
                I grew up in the vibrant city of Shanghai, China. I moved to Sydney, Australia in late 2015!
            </p>
            <h3>
                More about Me!
            </h3>
            <h5>
                <mark>Languanges</mark>
            </h5>
            <p>
                I'm actually trilingual! I am native in English, Mandarin and Shanghainese.
            </p>
            <h5>
                <mark>Hobbies</mark>
            </h5>
            <p>
                I used to play competitive basketball, reigning the city as the best high school team. Now I still play for fun!
            </p>
            <h5>
                <mark>Your experiences with CS?</mark>
            </h5>
            <p>
                I've completed CS50 (obviously), 6.00.1x, and learned a couple things about Machine Learning myself!
            </p>
        </div>

        <div class="content">
            <br>
        </div>

        <div>
            <footer class="footer mt-auto py-3">
                <div class="container">
                    <span class="text-muted">Connect with me on </span>
                    <span class="nav-item text-muted"><a class="text-muted" href="https://www.linkedin.com/in/ronaldo-keng/">LinkedIn</a> or </span>
                    <span class="nav-item text-muted"><a class="text-muted" href="https://github.com/RonaldoKeng">GitHub</a>!</span>
                </div>
            </footer>
        </div>
    </body>
</html>
